body{
  background-color: black;
  color: white;
  margin: 0 auto; 
}


.header{
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: left;
  font-size: 16px; 
  margin-bottom: 20px; 
  z-index: 2;
}

.bar2 {
  height: 2px; /* Height of the horizontal bar */
  background-color: rgb(0, 255, 0);
  z-index: 2;
}

.bar3 {
  height: 2.5px; /* Height of the horizontal bar */
  background-color: rgb(255, 208, 0);
  margin-top: 5px;
  margin-bottom: 0px; /* Color of the bar (you can change this) */
}

.h1{
  font-size: 20px;
  font-family: "papyrus";
  font-weight: bold;
  color: rgb(0, 255, 0);
  text-shadow: 1px 1px 5px white;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 2.5%;
  width: 25%;
  padding: 5px;
  } 



.regular-menu{
  display: block;
  
}

.hamburger-menu {
  display: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
 
  text-shadow: 1px 1px 20px #ffc813;
}

.h2{
  font-size: 18px;
  font-family: "Tahoma";
  color: rgb(0, 255, 0);  
  text-decoration:none;

}


/* ******** ABOVE THE FOLD ********** */
.Start{

  
  border-radius: 10px;
  background-repeat: no-repeat;
  height: 500px;
     
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%; /* Adjust this to your desired height */
  overflow: hidden;
}

.video {
  position: absolute;
  
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures video covers the entire div */
  z-index: -1; /* Puts the videos behind other content */
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1; /* Places the text above the videos */
  color: white; /* Text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional text shadow */
  background-color: rgba(0, 0, 0, 0.2); /* Optional background color */
}

.text-overlay h1 {
  height: 20px;
  border-radius: 10px;
  color:#FC0;
  text-align: center;
  text-shadow: rgb(60, 255, 60) 0px 0 10px;  
  font-size: 30px;
  font-family: Tahoma;
  
}

.text-overlay p {
  height: 100px;
  border-radius: 10px;
  color:#FC0;
  text-align: center;
  text-shadow: black 0px 0 8px;  
  font-size: 30px;
  font-family: Tahoma;
  transition-duration: 10ms;
  transition: transform 0.5s ease;
  margin-bottom: 10px;
  margin-top: 10px
}


.start-section1{
  
  height: 20px;
  border-radius: 10px;
  color:#FC0;
  text-align: center;
  text-shadow: rgb(60, 255, 60) 0px 0 10px;  
  font-size: 30px;
  font-family: Tahoma;
  
}

.start-section2{
  
  border-radius: 10px;
  color:#FC0;
  text-align: center;
  text-shadow: black 0px 0 8px;  
  font-size: 30px;
  font-family: Tahoma;
  color: rgb(255, 255, 255);
  transition-duration: 10ms;
  transition: transform 0.5s ease;
  margin-bottom: 30px;
  margin-top: 30px
}

.datetime:hover{
    cursor: pointer;
    transform: scale(1.1);
    text-shadow: gold 0px 0 10px;
    /*transition-duration: 10ms;*/
    transition: transform 0.5s ease;
  

}


.start-section3{
  
  /*border-color: rgb(255, 226, 60); */
  border-style: solid;
  border-width: 2px; 
  border-radius: 10px;
  color:rgb(60, 255, 60);
  text-align: left;
  text-shadow: #FC0 0px 0 10px;  
  font-size:35px;
  margin: 20% auto;
  margin-top:70px;
  padding: 10px;
  width: 58%;
  background-color: rgb(0,0,0,0.5);
    
}

.animation-text{
 
  font-family: cursive;
  filter: url(#threshold) blur(0.5px);
  text-align: center;
  

}

.start-section4{
  
  height: 50px;
  border-radius: 10px;
  text-align: center;
  text-shadow: 2.5px 2.5px rgb(60, 255, 60);  
  font-size: 30px;
  font-family: Tahoma;
  color: black
}



  /* ******** BELOW THE FOLD ********** */
.End{
  padding: 1px;
  /*border-radius: 10px;

  border-color: rgb(60, 255, 60);
  border-style: dashed;
  border-width: 1px; */
  
}

.end-section1{
  /*border-color: rgb(60, 255, 60);
  border-style: dashed;
  border-width: 1px;*/
  height: 100px;
  border-radius: 10px;
  background-color: rgb(56, 56, 56);
  font-size: 50pt;
}

.end-section2{
  border-color: rgb(60, 255, 60);
  border-style: dashed;
  border-width: 1px;
  height: 100px;
  border-radius: 10px;
}

.end-section3{
  border-color: rgb(60, 255, 60);
  border-style: dashed;
  border-width: 1px;
  height: 100px;
  border-radius: 10px;
}



/* Date and Time Animation for Start section */

@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");



#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);
} 

#text1,
#text2 {
    position: absolute;   
    width: 100%;
    display: flex;

    font-family: "Tahoma", sans-serif;
    font-size: 30pt;

    text-align: center;

    user-select: none;
}

.container2{
  display: flex; 
  color:rgb(0, 255, 0)

  }

  @media screen and (max-width: 768px) {

    /* 3 bar drop menu */

    .regular-menu {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
    }

.menu-icon {
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 24px;
}

.bar {
  height: 4px;
  width: 24px;
  background-color: gold;
}

.dropdown-menu {
  position: fixed;
  top: 50px;
  right: 15px;
  display: none;
  flex-direction: column;
  border: 1px solid gold;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-menu a {
  display: block;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #65ff3e;
}

.dropdown-menu a:hover {
  background-color: rgba(255, 230, 0, 0.7);
  color: black;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
 
  text-shadow: 1px 1px 20px #ffc813;
}

.h2{
  font-size: 18px;
  font-family: "Tahoma";
  color: rgb(0, 255, 0);  
  text-decoration:none;

}

    /* Your CSS styles for phone screens go here */
  }
