body{
  background-image: url("Usdollar100front.jpg");
 
  background-size: cover;
  color: white;
  margin: 0 auto; 
  width: 100%;
  
}


.h1 button{
  background-color: rgb(255, 208, 0);
  border-radius: 10px;
  margin-top:auto !important;
  height: 4vh;
  width: 20vw;
  
  
}

.h1 button:hover{
  box-shadow: 2px 2px 7.5px rgb(30, 255, 0);
}

.h1 button:onclick{
  box-shadow: 2px 2px 15px rgb(255, 230, 0);
}


.header{
 
  top:0;
  position: fixed;
  width: 100%;
  height: 15vh;
  
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: left;
  font-size: 4vw; 
  margin-bottom: 20px; 
  z-index: 2;
  opacity: .87;
}

.bar2 {
  height: 2px; /* Height of the horizontal bar */
  background-color: rgb(0, 255, 0);
  z-index: 3;
  margin-top: 5px;
}

.bar3 {
  height: 2.5px; /* Height of the horizontal bar */
  background-color: rgb(255, 208, 0);
  margin-top: 5px;
  margin-bottom: 0px; /* Color of the bar (you can change this) */
}

.h1{  
  display: grid;
  grid-template-columns: 10fr 4fr;
  font-family: "Verdana";
  font-weight: bold;
  color: rgb(0, 255, 0);
  text-shadow: 1px 1px 5px white;
  height: fit-content;
  
  
  padding: 5px;
  } 

  .h1 p{
    font-size: 2.5vw;
    width: 50%;
    margin-top:auto !important;
  }



.regular-menu{
  display: block;
  
}

.hamburger-menu {
  display: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
 
  text-shadow: 1px 1px 20px #ffc813;
}

.h2{

  
  font-size: 2.5vw;
  font-family: "Tahoma";
  color: rgb(0, 255, 0);  
  text-decoration:none;
  
  background-color: black;

}


/* ******** ABOVE THE FOLD ********** */
.Start{
 
  background-repeat: no-repeat;
  height:600px;
  background-color: rgb(0, 0, 0);
  opacity: .87;
  position: relative;
     
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%; /* Adjust this to your desired height */
  overflow: hidden;
}

.video {
  color:#FC0;
  text-align: center;
  text-shadow: black 0px 0 8px;  
  font-size: 30px;
  font-family: Tahoma;
  transition-duration: 10ms;
  transition: transform 0.5s ease;
  
  width: 100%;
  height: 80%;
  object-fit: cover; /* Ensures video covers the entire div */
  z-index: -1; /* Puts the videos behind other content */
}

.text-overlay {
  
  margin-top: 15%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1; /* Places the text above the videos */
  color: white; /* Text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional text shadow */
  background-color: rgba(0, 0, 0, 0.2); /* Optional background color */
}

.text-overlay h1 {
  
  border-radius: 10px;
  color:#FC0;
  text-align: center;
  text-shadow: rgb(60, 255, 60) 0px 0 10px;  
  font-size: 4vw;
  font-family: Tahoma;
  
}

.text-overlay p {
  
  
  color:#FC0;
  text-align: center;
  text-shadow: black 0px 0 8px;  
  font-size: 4vw;
  font-family: Tahoma;
  transition-duration: 10ms;
  transition: transform 0.5s ease;
  
}

.text-overlay a {
  color:#FC0;
  text-align: center;
  text-shadow: black 0px 0 8px;  
  font-size: 30px;
  font-family: Tahoma;
  transition-duration: 10ms;
  transition: transform 0.5s ease;
  
}


.start-section1{
  
  height: 20px;
  border-radius: 10px;
  color:#FC0;
  text-align: center;
  text-shadow: rgb(60, 255, 60) 0px 0 10px;  
  font-size: 30px;
  font-family: Tahoma;
  background-color: black;
  
}

.start-section2{
  display: flex;
  border-radius: 10px;
  color:#FC0;
  text-align: center;
  text-shadow: black 0px 0 8px;  
  font-size: 30px;
  font-family: Tahoma;
  color: rgb(255, 255, 255);
  transition-duration: 10ms;
  transition: transform 0.5s ease;
  
}

.datetime:hover{
    cursor: pointer;
    transform: scale(1.1);
    text-shadow: gold 0px 0 10px;
    /*transition-duration: 10ms;*/
    transition: transform 0.5s ease;
  

}


.start-section3{
  
  /*border-color: rgb(255, 226, 60); */
  display: flex;
  flex-direction: row;
  color:rgb(60, 255, 60);
  text-align: left;
  text-shadow: #FC0 0px 0 10px;  
  font-size:35px; 
  opacity: .87;
  width: 25%;
 
    
}

.animation-text{
 
  font-family: cursive;
  filter: url(#threshold) blur(0.5px);
  text-align: center;
  

}

.start-section4{
  
  height: 50px;
  border-radius: 10px;
  text-align: center;
  text-shadow: 2.5px 2.5px rgb(60, 255, 60);  
  font-size: 30px;
  font-family: Tahoma;
  color: black;
  background-color: black;
}



  /* ******** BELOW THE FOLD ********** */
.End{
  padding: 1px;
  background-color: black;
  opacity: .87;
  /*border-radius: 10px;

  border-color: rgb(60, 255, 60);
  border-style: dashed;
  border-width: 1px; */
  
}

.end-section1{
  /*border-color: rgb(60, 255, 60);
  border-style: dashed;
  border-width: 1px;*/
  height: 100%;
  background-color: rgb(56, 56, 56);
  font-size: 50pt;
  text-align: center;
}

.end-section2{
  border-color: rgb(60, 255, 60);
  border-style: dashed;
  border-width: 1px;
  height: 100px;
  border-radius: 10px;
}

.end-section3{
  border-color: rgb(60, 255, 60);
  border-style: dashed;
  border-width: 1px;
  height: 100px;
  border-radius: 10px;
}



/* Date and Time Animation for Start section */

@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");



#container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;    
    filter: url(#threshold) blur(0.6px);
    
} 

#text1,
#text2 {
    position: absolute;    
    color: rgb(0, 255, 0);
    
}

.container{
  
  color:rgb(0, 255, 0);
  top: 30px;

  }

  @media screen and (max-width: 768px) {

    /* 3 bar drop menu */

    .regular-menu {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
    }

.menu-icon {
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 24px;
}

.bar {
  height: 4px;
  width: 24px;
  background-color: gold;
  margin-top: auto;
}

.dropdown-menu {
  position: fixed;
  top: 12vw;
  right: 15px;
  display: none;
  flex-direction: column;
  border: 1px solid gold;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-menu a {
  display: block;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #65ff3e;
  font-size: 4vw;
}

.dropdown-menu a:hover {
  background-color: rgba(255, 230, 0, 0.7);
  color: black;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
 
  text-shadow: 1px 1px 20px #ffc813;
}

.h1{
      font-size: 10vw;
}

.h2{
  font-size: 18px;
  font-family: "Tahoma";
  color: rgb(0, 255, 0);  
  text-decoration:none;

}

.header{
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: left;
  font-size: 5vw; 
  margin-bottom: 20px; 
  z-index: 2;
}

  .h1 button{
    background-color: rgb(255, 208, 0);
    border-radius: 10px;
    margin-top:auto !important;
    height: 10vh;
    width: 20vw;
  }  
/* Your CSS styles for phone screens go here */
  }
